<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/header') %>
    <title>HamroCHAT - Home</title>
</head>

<body>
    <%- include('partials/chatHeader') %>
    <main>
        <div id="goup">
            <a href="#">
                <!-- Icon made by Pixel perfect from www.flaticon.com -->
                <img src="/imgs/up.png" alt="TOP">
            </a>
        </div>
        <section id="chat">
            <%-include('partials/help')%>
            <div id="error">
                <span id="error-header">
                    Error!
                </span>
                <p id="error-msg">
                    <!-- The password must be at least 8 characters long.It must containt lowercase, uppercase and numbers."; -->
                </p>
                <button id="error-btn">
                    Ok!
                </button>
            </div>
            <div id="chat-container">
                <div id="chat-header">
                    <div id="chat-header-img" class="back-arrrow">
                        <a href="/HamroCHAT-home/<%=currentUser._id%>"><i class="fas fa-angle-double-left"></i></a>
                    </div>
                    <div id="user-header-img">
                        <i class="fas fa-unlock-alt"></i>
                    </div>
                </div>
                <div id="change-credentials-content">
                    <div id="user-header-name">
                        <%=currentUser.firstName+' '+currentUser.lastName%>
                    </div>
                    <div id="user-profile-body">
                        <div class="form-container help">
                            <form action="/change-credentials/<%=currentUser._id%>" id="reg-form" method="post">
                                <div class="input">
                                    <label for="pass">Change Password</label>
                                    <div class="icon-input">
                                        <i class="fas fa-key"></i>
                                        <input type="password" id="pass" placeholder="Enter your password" minlength="8" required>
                                        <i class="far fa-eye" id="see-pass" onclick="hideunhidepass()"></i>
                                    </div>
                                </div>
                                <div class="input">
                                    <label for="pass">Confirm Password</label>
                                    <div class="icon-input">
                                        <i class="fas fa-lock"></i>
                                        <input type="password" id="pass2" name="pass2" placeholder="Enter your password again" required>
                                    </div>
                                </div>
                                <div class="submit-btn-2">
                                    <button>
                                        <div class="icon-input">
                                            <p>Change Password</p>
                                        </div>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/validate.js"></script>
        <script src="/copypaste.js"></script>

    </main>
</body>

</html>